.Slider {
  position: relative;
  width: 680px;
  height: 410px;
  margin: 0 auto;
}

.Slider__button {
  position: absolute;
  top: 185px;

  width: 40px;
  height: 40px;

  font-size: 30px;
}

.Slider__button--previous {
  left:40px;
}

.Slider__button--next {
  left:600px;
}
